body {
  font-family: "Inter";
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding: 0px;
}

.container {
  max-width: 1480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0px 15px;
}

.nav__title {
  font-size: 40px;
  font-weight: 700;
}

.nav__links {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.nav__link {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

/* Main Page */
main {
  padding: 50px 0px;
}

/* Header */
#header {
  margin: 0 auto;
  max-width: 1480px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header__title {
  font-size: 45px;
  font-weight: 600;
}
input {
  padding: 5px 10px;

  border-radius: 5px;
}
button {
  padding: 5px 10px;
  background-color: rgb(148, 49, 49);
  border-radius: 5px;

  font-weight: 500;
}

/* Body Page */
#body {
  margin: 0 auto;
  max-width: 1480px;
  padding: 0px 15px;
}
.character__container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
}

.movie__image {
  width: 100%;
  max-height: 288px;
  height: 288px;
}

.movie {
  width: 198px;
  margin: 24px 8px;

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 12px 0px rgb(5, 5, 5, 0.45);
}

.character__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 10px;
  gap: 5px;
}

.more__details__info {
  margin: 10px 0px;
}
